@using front_to_back.Areas.Admin.ViewModels;
@model CategoryIndexViewModel
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">CategoryComponents Table</h4>
            <a asp-action="create" asp-controller="categoryComponent" asp-area="admin" class="btn btn-success">Add categoryComponent</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Photo</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoryComponent in Model.CategoryComponents)
                        {
                        
                            <tr>
                                <td>@categoryComponent.Id</td>
                                <td>@categoryComponent.Title</td>
                                <td>@Html.Raw(categoryComponent.Description)</td>
                                <td>
                                    <img src="~/assets/img/@categoryComponent.FilePath" />
                                </td>
                                <td>@categoryComponent.Category.Title</td>
                                <td class="d-flex align-content-between">
                                    <a asp-route-id="@categoryComponent.Id" asp-action="update" asp-controller="categorycomponent" asp-area="admin" class="btn btn-primary">Update</a>
                                    <a asp-route-id="@categoryComponent.Id" asp-action="details" asp-controller="categorycomponent" asp-area="admin" class="btn btn-warning mx-3">Details</a>
                                    <a asp-route-id="@categoryComponent.Id" asp-action="delete" asp-controller="categorycomponent" asp-area="admin" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>