@using front_to_back.Areas.Admin.ViewModels;
@model CategoryIndexViewModel
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Category Table</h4>
            <a asp-action="create" asp-controller="category" asp-area="admin" class="btn btn-success">Add Category</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>                    
                            @foreach (var category in Model.Categories)
                            {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Title</td>
                                <td>
                                    <a asp-route-id="@category.Id" asp-action="update" asp-controller="category" asp-area="admin" class="btn btn-primary" >Update</a>
                                    <a asp-route-id="@category.Id" asp-action="delete" asp-controller="category" asp-area="admin" class="btn btn-danger mx-3">Delete</a>
                                    <a asp-route-id="@category.Id" asp-action="details" asp-controller="category" asp-area="admin" class="btn btn-warning">Details</a>

                                </td>                              
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>