@using front_to_back.ViewModels;
@model ContactIndexViewModel
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Contact Table</h4>
            <a asp-action="create" asp-controller="contact" asp-area="admin" class="btn btn-success">Add contact</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Photo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                 
                                <td>@Model.ContractIntroComponent.Id</td>
                                <td>@Model.ContractIntroComponent.Title</td>
                                <td>@Model.ContractIntroComponent.Description</td>
                            <td><img src="~/assets/img/@Model.ContractIntroComponent.FilePath" /></td>
                                <td>
                                    <a asp-route-id="@Model.ContractIntroComponent.Id" asp-action="update" asp-controller="contact" asp-area="admin" class="btn btn-primary ">Update</a>
                                    <a asp-route-id="@Model.ContractIntroComponent.Id" asp-action="delete" asp-controller="contact" asp-area="admin" class="btn btn-danger ">Delete</a>
                                    <a asp-route-id="@Model.ContractIntroComponent.Id" asp-action="details" asp-controller="contact" asp-area="admin" class="btn btn-warning ">Details</a>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>